@use "./partials/variables" as *;
@use "./partials/mixins" as *;

@import "~bootstrap/scss/bootstrap";

h1 {
    color: $primary_color;
}
header {
    background-color: rgb(124, 122, 122);
    color: white;
    box-shadow: 0px 10px 13px -7px #000000,
        3px 7px 36px 9px rgba(255, 255, 255, 0.36);
}
footer {
    border-top: 2px solid $primary_color;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        flex-grow: 1;
    }
}

.modal-button {
    background-color: transparent;
    border: none;
    padding: 0;
}
